<a href="https://colab.research.google.com/github/Jatansahu/woc5.0-ml-weather-prediction-case-study-jatan-sahu/blob/main/Checkpoint_3_PROJECT_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Youtube-Influencer-Analysis-case-study**-

1) Reading the above CSV file in google colab using the pandasâ€™ library and converting it into data frames.

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
df1=pd.read_csv("/Youtube Influencer Analysis - Updated.csv",encoding='mac_roman')
df1

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,...,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week),Intern Who Collected the Data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,Yes,0,419,8/6/2022,1080,462,12.0,No,1,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2,Akhil Teja
2,https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s,878,"Customer Psychology, Four Views Of Consumer De...",https://www.youtube.com/channel/UCcIUnCsBfONvb...,Virda Warsi,Female,458,72945,0:08:12,492.00,...,Yes,0,0,NaN,720,158,0.0,No,0,Syed safdar
3,https://www.youtube.com/watch?v=_CkFNJgKsFs,"9,965",Top countries with proven natural gas reserves,https://www.youtube.com/c/trtworld,TRT,NaN,1680000,541653219,0:01:06,66.00,...,Yes,0,77,9/22/2022,1080,46509,48.0,No,20,Syed safdar
4,https://www.youtube.com/watch?v=_GFkHA5EZdE,"39,780,561",73 Questions With Selena Gomez,Vogue - YouTube,Vogue,NaN,12100000,3600496171,0:07:40,460.00,...,Yes,0,28221,9/23/2022,1080,2872,113.0,No,1,Rahul Singh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,https://www.youtube.com/watch?v=GS18WawA-t0,"6,892",Calming mashup of Islamic Nasheed 2022 | Isami...,https://www.youtube.com/c/SahilOnlineTVnews,Sahil Online TV News,NaN,594000,129926690,00:13:47,827.00,...,Yes,0,15,10/4/2022,1080,5024,36.0,No,1,Mafaz Ali
901,https://www.youtube.com/watch?v=_tc_APkjH2Q,"16,554",Amchi Nawayat Mehfil hee,https://www.youtube.com/sahilonline,Sahil Online TV News,NaN,594000,129926690,00:06:44,404.00,...,Yes,2,0,10/4/2022,720,5024,36.0,No,1,Mafaz Ali
902,https://www.youtube.com/watch?v=Xfj4osSYfhU,"32,798",Aas ge Kaagaz,https://www.youtube.com/sahilonline,Sahil Online Bhatkal,NaN,23500,5104872,00:06:24,384.00,...,Yes,3,0,8/4/2022,720,1018,13.0,No,1,Mafaz Ali
903,https://www.youtube.com/watch?v=mGEHqwVz0eI,"1,503",Anjuman Tarana by ABHS Students | Anjuman Anju...,https://www.youtube.com/sahilonline,Sahil Online Bhatkal,NaN,23500,5104872,00:04:39,279.00,...,Yes,3,0,8/4/2022,1080,1018,13.0,No,1,Mafaz Ali
904,https://www.youtube.com/watch?v=UGATpt0I4vA,"429,966",Jhulan Goswami Final Over in ODIs | ENG vs IND...,https://www.youtube.com/c/SonySportsNetwork,Sony Sports Network,NaN,3980000,728858923,00:01:21,81.00,...,Yes,3,0,10/4/2022,1080,3014,124.0,No,0,Mafaz Ali

In [ ]:
df1.head()

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,...,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week),Intern Who Collected the Data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,Yes,0,419,8/6/2022,1080,462,12.0,No,1,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2,Akhil Teja
2,https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s,878,"Customer Psychology, Four Views Of Consumer De...",https://www.youtube.com/channel/UCcIUnCsBfONvb...,Virda Warsi,Female,458,72945,0:08:12,492.00,...,Yes,0,0,NaN,720,158,0.0,No,0,Syed safdar
3,https://www.youtube.com/watch?v=_CkFNJgKsFs,"9,965",Top countries with proven natural gas reserves,https://www.youtube.com/c/trtworld,TRT,NaN,1680000,541653219,0:01:06,66.00,...,Yes,0,77,9/22/2022,1080,46509,48.0,No,20,Syed safdar
4,https://www.youtube.com/watch?v=_GFkHA5EZdE,"39,780,561",73 Questions With Selena Gomez,Vogue - YouTube,Vogue,NaN,12100000,3600496171,0:07:40,460.00,...,Yes,0,28221,9/23/2022,1080,2872,113.0,No,1,Rahul Singh

In [ ]:
df1.describe()

,No of Likes,Hashtags,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Community Engagement (Posts per week)
count,9.040000e+02,905.000000,905.000000,905.000000,896.000000,905.000000
mean,5.840101e+05,1.030939,1227.712707,4962.866298,82.246652,4.516022
std,2.959309e+06,1.835350,419.254719,24193.140397,446.041267,19.377195
min,0.000000e+00,0.000000,240.000000,1.000000,0.000000,0.000000
25%,5.475000e+03,0.000000,1080.000000,150.000000,6.000000,0.000000
50%,3.250000e+04,0.000000,1080.000000,389.000000,16.000000,1.000000
75%,1.845000e+05,2.000000,1080.000000,1393.000000,47.250000,3.000000
max,4.900000e+07,28.000000,2160.000000,420000.000000,6000.000000,341.000000

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Video Link                             905 non-null    object
 1   Video Views                            905 non-null    object
 2   Video Title                            905 non-null    object
 3   Channel URL                            905 non-null    object
 4   Creator Name                           894 non-null    object
 5   Creator Gender                         591 non-null    object
 6   Total Channel Subcribers               905 non-null    object
 7   Total Chanel Views                     905 non-null    object
 8   Duration of Video                      905 non-null    object
 9   Duration in Seconds                    905 non-null    object
 10  Date of Video Upload                   905 non-null    object
 11  No of Likes                            904 non-null    float64
 12  Language of the Video                  884 non-null    object
 13  Subtitle                               904 non-null    object
 14  Video Description                      905 non-null    object
 15  Hashtags                               905 non-null    int64
 16  No of Comments                         905 non-null    object
 17  Date of the Last Comment               881 non-null    object
 18  Maximum Quality of the Video           905 non-null    int64
 19  No of Videos the Channel               905 non-null    int64
 20  No of Playlist                         896 non-null    float64
 21  Premiered or Not                       905 non-null    object
 22  Community Engagement (Posts per week)  905 non-null    int64
 23  Intern Who Collected the Data          905 non-null    object
dtypes: float64(2), int64(4), object(18)
memory usage: 169.8+ KB

2) How many values are missing for each column and try dropping or replacing NULL values using appropriate pandasâ€™ function.

In [ ]:
#Number of missing values
df2=df1.isnull().sum()
df2

Video Link                                 0
Video Views                                0
Video Title                                0
Channel URL                                0
Creator Name                              11
Creator Gender                           314
Total Channel Subcribers                   0
Total Chanel Views                         0
Duration of Video                          0
Duration in Seconds                        0
Date of Video Upload                       0
No of Likes                                1
Language of the Video                     21
Subtitle                                   1
Video Description                          0
Hashtags                                   0
No of Comments                             0
Date of the Last Comment                  24
Maximum Quality of the Video               0
No of Videos the Channel                   0
No of Playlist                             9
Premiered or Not                           0
Community Engagement (Posts per week)      0
Intern Who Collected the Data              0
dtype: int64

**REMOVING UNWANTED ERROR**

In [ ]:
#CHANGING  COLUMN to lower case
df1.columns = df1.columns.str.lower()
#Replacing spaces to "_"
df1.columns = df1.columns.str.replace(' ','_')

In [ ]:
df1.head()

,video_link,video_views,video_title,channel_url,creator_name,creator_gender,total_channel_subcribers,total_chanel_views,duration_of_video,duration_in_seconds,...,video_description,hashtags,no_of_comments,date_of_the_last_comment,maximum_quality_of_the_video,no_of_videos_the_channel,no_of_playlist,premiered_or_not,community_engagement_(posts_per_week),intern_who_collected_the_data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,Yes,0,419,8/6/2022,1080,462,12.0,No,1,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2,Akhil Teja
2,https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s,878,"Customer Psychology, Four Views Of Consumer De...",https://www.youtube.com/channel/UCcIUnCsBfONvb...,Virda Warsi,Female,458,72945,0:08:12,492.00,...,Yes,0,0,NaN,720,158,0.0,No,0,Syed safdar
3,https://www.youtube.com/watch?v=_CkFNJgKsFs,"9,965",Top countries with proven natural gas reserves,https://www.youtube.com/c/trtworld,TRT,NaN,1680000,541653219,0:01:06,66.00,...,Yes,0,77,9/22/2022,1080,46509,48.0,No,20,Syed safdar
4,https://www.youtube.com/watch?v=_GFkHA5EZdE,"39,780,561",73 Questions With Selena Gomez,Vogue - YouTube,Vogue,NaN,12100000,3600496171,0:07:40,460.00,...,Yes,0,28221,9/23/2022,1080,2872,113.0,No,1,Rahul Singh

In [ ]:
df1["video_views"]=df1["video_views"].astype(str)

In [ ]:
#DROPING NaN value row except Creator Gender,will drop this column

#df3=df1.dropna(subset=["Creator Name","No of Likes","Language of the Video","Date of the Last Comment","No of Playlist"])

#df3

3) Drop the columns which are irrelevant features to feed into our model.

In [ ]:
df1.creator_gender.value_counts()

Male       494
Female      78
Company     19
Name: creator_gender, dtype: int64

In [ ]:
df1.creator_gender.isnull()

In [ ]:
df4=df3.drop(columns=['Video Link','Channel URL','Intern Who Collected the Data','Creator Gender'])
df4

,Video Views,Video Title,Creator Name,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,Date of Video Upload,No of Likes,Language of the Video,Subtitle,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week)
0,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,srihari ck,40200,7964284,00:30:41,"1,841.00",7/29/2022,6700.0,Kannada,No,Yes,0,419,8/6/2022,1080,462,12.0,No,1
1,"231,969",Bhoom Baddhal Web Series,Chai Bisket,920000,137535681,00:14:24,864.00,5/22/2022,7800.0,Telugu,No,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2
3,"9,965",Top countries with proven natural gas reserves,TRT,1680000,541653219,0:01:06,66.00,9/13/2022,188.0,English,No,Yes,0,77,9/22/2022,1080,46509,48.0,No,20
4,"39,780,561",73 Questions With Selena Gomez,Vogue,12100000,3600496171,0:07:40,460.00,3/21/2017,901000.0,English,yes,Yes,0,28221,9/23/2022,1080,2872,113.0,No,1
5,"257,334",HERO - Baananchige Oduva Baara,Rishab Shetty Films,382000,154898226,00:06:01,361.00,3/24/2021,8300.0,Kannada,No,Yes,1,387,4/24/2021,2160,94,14.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,"6,892",Calming mashup of Islamic Nasheed 2022 | Isami...,Sahil Online TV News,594000,129926690,00:13:47,827.00,9/29/2022,235.0,Urdu + Arabic,No,Yes,0,15,10/4/2022,1080,5024,36.0,No,1
901,"16,554",Amchi Nawayat Mehfil hee,Sahil Online TV News,594000,129926690,00:06:44,404.00,8/6/2017,117.0,Nawayathi,No,Yes,2,0,10/4/2022,720,5024,36.0,No,1
902,"32,798",Aas ge Kaagaz,Sahil Online Bhatkal,23500,5104872,00:06:24,384.00,1/3/2021,1.0,Nawayathi,No,Yes,3,0,8/4/2022,720,1018,13.0,No,1
903,"1,503",Anjuman Tarana by ABHS Students | Anjuman Anju...,Sahil Online Bhatkal,23500,5104872,00:04:39,279.00,3/6/2022,1.0,Urdu,No,Yes,3,0,8/4/2022,1080,1018,13.0,No,1
904,"429,966",Jhulan Goswami Final Over in ODIs | ENG vs IND...,Sony Sports Network,3980000,728858923,00:01:21,81.00,9/25/2022,7600.0,English,Yes,Yes,3,0,10/4/2022,1080,3014,124.0,No,0

4) Some columns are not statistical data but in the form of strings. It Is difficult for our model to learn when the data is in form of strings. Your task is to encode these strings using proper encoding techniques.

In [ ]:
df4.dtypes

#OBJECT - MIXED NUMBER AND STRING 
#FLOAT564 - WITH DECIMAL
#INT64 - 	NUMERIC CHARACTER

Video Views                               object
Video Title                               object
Creator Name                              object
Total Channel Subcribers                  object
Total Chanel Views                        object
Duration of Video                         object
Duration in Seconds                       object
Date of Video Upload                      object
No of Likes                              float64
Language of the Video                     object
Subtitle                                  object
Video Description                         object
Hashtags                                   int64
No of Comments                            object
Date of the Last Comment                  object
Maximum Quality of the Video               int64
No of Videos the Channel                   int64
No of Playlist                           float64
Premiered or Not                          object
Community Engagement (Posts per week)      int64
dtype: object

In [ ]:
pd.get_dummies(df4, columns=['Subtitle','Video Description','Premiered or Not'])

,Video Views,Video Title,Creator Name,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,Date of Video Upload,No of Likes,Language of the Video,...,Community Engagement (Posts per week),Subtitle_No,Subtitle_Yes,Subtitle_yes,Video Description_NO,Video Description_No,Video Description_Yes,Premiered or Not_No,Premiered or Not_Yes,Premiered or Not_yes
0,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,srihari ck,40200,7964284,00:30:41,"1,841.00",7/29/2022,6700.0,Kannada,...,1,1,0,0,0,0,1,1,0,0
1,"231,969",Bhoom Baddhal Web Series,Chai Bisket,920000,137535681,00:14:24,864.00,5/22/2022,7800.0,Telugu,...,2,1,0,0,0,0,1,0,1,0
3,"9,965",Top countries with proven natural gas reserves,TRT,1680000,541653219,0:01:06,66.00,9/13/2022,188.0,English,...,20,1,0,0,0,0,1,1,0,0
4,"39,780,561",73 Questions With Selena Gomez,Vogue,12100000,3600496171,0:07:40,460.00,3/21/2017,901000.0,English,...,1,0,0,1,0,0,1,1,0,0
5,"257,334",HERO - Baananchige Oduva Baara,Rishab Shetty Films,382000,154898226,00:06:01,361.00,3/24/2021,8300.0,Kannada,...,0,1,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,"6,892",Calming mashup of Islamic Nasheed 2022 | Isami...,Sahil Online TV News,594000,129926690,00:13:47,827.00,9/29/2022,235.0,Urdu + Arabic,...,1,1,0,0,0,0,1,1,0,0
901,"16,554",Amchi Nawayat Mehfil hee,Sahil Online TV News,594000,129926690,00:06:44,404.00,8/6/2017,117.0,Nawayathi,...,1,1,0,0,0,0,1,1,0,0
902,"32,798",Aas ge Kaagaz,Sahil Online Bhatkal,23500,5104872,00:06:24,384.00,1/3/2021,1.0,Nawayathi,...,1,1,0,0,0,0,1,1,0,0
903,"1,503",Anjuman Tarana by ABHS Students | Anjuman Anju...,Sahil Online Bhatkal,23500,5104872,00:04:39,279.00,3/6/2022,1.0,Urdu,...,1,1,0,0,0,0,1,1,0,0
904,"429,966",Jhulan Goswami Final Over in ODIs | ENG vs IND...,Sony Sports Network,3980000,728858923,00:01:21,81.00,9/25/2022,7600.0,English,...,0,0,1,0,0,0,1,1,0,0